body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
button {
    position: absolute;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}


#requestmicbutton {
    /* align center */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    /* cool button styling */
    border-radius: 20px;
    font-size: 15px;
    width: 140px;
    height: 70px;
    color: black;
    /* shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* align content at center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    /* color */
    background-color: rgb(41, 208, 202);
}

#requestmicbutton:hover {
    /* translate and remove shadow */
    transform: translate(3px, 3px);
    box-shadow: none;
}
#requestmicbuttoncontainer {
   /* full width, content center aligned */


   
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    

}

#gamecontrols {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    text-align: center;
    /* algin all content in center horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;


}

.roundbutton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    display: inline-block;
    /* shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* align content at cent4er vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

/* BUTTONS */

.roundbutton:hover {
    /* translate and remove shadow */
    transform: translate(3px, 3px);
    box-shadow: none;
}

#gameprimaryactionbutton {
    background-color: rgb(41, 208, 202) !important;
    /* content fontawesome plus icon */
    content: '\f067';            
}

#gameprimaryactionbutton:hover {
    background-color:rgb(31, 198, 192) !important;
}

#gameleavenotebutton{
    background-color: lightyellow !important;
    /* content fontawesome sticky note icon */       

}

#gameleavenotebutton:hover {
    background-color: rgb(255, 255, 0) !important;
}

#gameconfirmactionbutton{
    background-color:  rgb(28, 227, 117) !important;
}

#gameconfirmactionbutton:hover {
    background-color:  rgb(17, 160, 81) !important;
}
.hidden {
    display: none;
}

#gamecancelactionbutton {
    display: none;
    background-color: lightcoral !important;
    /* content fontawesome times icon */
    content: '\f00d';
}

#gamecancelactionbutton:hover {
    background-color: rgb(255, 0, 0) !important;
}



cell-editor {
position: fixed;
top: 0;
left: 0;
width: 100%;
/* full height - 130px */
height: calc(100% - 130px);
background-color: rgba(0, 0, 0, 0.5);
z-index: 100;
display: none;
overflow: scroll;
}